<header>
    <div class="header-top">
      <div class="header-top-left" (click)="goToHomePage()">
        <img src="assets/images/dysrupit-logo.png" alt="Logo" style="cursor: pointer;">
      </div>
      <div class="header-top-right">
        <div>
          <button class="helpline-button" (click)="navigateToHelpline()">Cyber Helpline</button>
        </div>
        <div class="membership">
          <ul>
            <li>
              <div class="login">
                <a href="/login">Login</a>
              </div>
              <div class="sign-up">
                <a href="/sign-up">Join Membership</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div></div>
    <nav>
      <ul class="menu">
        <li class="menu-item">
          <div>
            <a href="/about">About Us</a>
          </div>
          <div class="dropdown">
            <a href="/about/dysrupit">DysrupIT</a>
          </div>
        </li>
        <li class="menu-item">
          <div>
            <a href="/tools">Detect and Protect</a>
          </div>
          <div class="dropdown">
            <a href="/tools">Tool 1</a>
            <a href="/tools">Tool 2</a>
            <a href="/tools">Tool 3</a>
          </div>
        </li>
        <li class="menu-item">
          <div>
            <a href="/health-check">Cyber Health Check</a>
          </div>
          <div class="dropdown">
            <a href="/health-check">Health Check 1</a>
            <a href="/health-check">Health Check 2</a>
            <a href="/health-check">Health Check 3</a>
          </div>
        </li>
        <li class="menu-item">
          <div>
            <a href="/partners">Our Cyber Partners</a>
          </div>
          <div class="dropdown">
            <a href="/partners">Partner 1</a>
            <a href="/partners">Partner 2</a>
            <a href="/partners">Partner 3</a>
          </div>
        </li>
      </ul>
    </nav>
  </header>