<body>
  <div class="body-content">
    <div class="section" style="background-image: url('assets/images/helpline-image.jpeg');">
      <div class="section-content">
        <h2>Book a Consult</h2>
        <p>Your cybersecurity lifeline for small businesses—get expert guidance and peace of mind knowing your business is
          protected from cyber threats.</p>
        <a href="#" class="button">Book</a>
      </div>
    </div>
    <div class="section" style="background-image: url('assets/images/healthcheck.jpeg');">
      <div class="section-content">
        <h2>Security Health Check</h2>
        <p>Evaluate your small business's cybersecurity readiness — identify vulnerabilities and strengthen your defenses.
        </p>
        <a href="#" class="button">Get Started</a>
      </div>
    </div>
    <div class="section" style="background-image: url('assets/images/cyber-network.png');">
      <div class="section-content">
        <h2>Become a Member</h2>
        <p>Join our program to receive real-time security threat alerts and essential cybersecurity resources tailored for
          small businesses.</p>
        <a href="#" class="button">Learn More</a>
      </div>
    </div>
  </div>
</body>